* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

/* Project 3 */
.card-list {
  justify-content: flex-start;
}

@media only screen and (min-width: 600px) {
  .card-list {
    justify-content: space-around;
  }
}
